{{ partial "header.html" . }}

<div class="row align-center t1">
  <div class="small-12 medium-12 large-10 column">
    <h2 class="text-center">Nooooos {{ .Title }}</h2>
    <div class="row small-up-1 medium-up-2 large-up-3 align-center">
      {{ range first 6 .Site.Pages }}
      <div class="column column-block">
        <article class="card" style="height: 100%;">
            <a href="{{ .Permalink }}">


              <picture>
                <!-- webp images
                <source type="image/webp" srcset="
                        /images/covers/2017-06-01-mytest-medium.webp 640w,
                        /images/covers/2017-06-01-mytest-large.webp 1050w"
                        sizes="(max-width: 640px) 98vw, (max-width: 1024px) 48vw, 305px"
                alt=""> -->
                <!-- jpeg images -->
                  <source
                   srcset="{{ substr "/images/covers/test.jpg" 0 -4 }}-small.jpg 320w,
                           {{ substr "/images/covers/test.jpg" 0 -4 }}-medium.jpg 640w,
                           {{ substr "/images/covers/test.jpg" 0 -4 }}-large.jpg 1050w"
                           sizes="(max-width: 640px) 96vw, (max-width: 1024px) 46vw, 25vw"
                   alt="">
                   <img src="/images/covers/test.jpg">
              </picture>

            </a>
          <header class="card-divider">
            <h5><a href="{{ .Permalink }}">{{ .Title }}</a><h5>
            {{ if ne .Section "sechebdo" }}
            <h6 class="subheader">{{ .Params.subheadline }}<h6>
            {{ end }}
          </header>

          <main class="card-section">
            {{ if ne .Section "sechebdo" }}
              <p>{{ .Summary | truncate 150 }}</p>
            {{ else }}
              <p>{{ .Params.Subheadline }}</p>
            {{ end }}
          </main>

        </article>

      </div>
      {{ end }}
    </div>
  </div>
</div>

{{ partialCached "footer.html" . }}
