{{ partial "header.html" . }}

<section class=" small-12 medium-10 large-10 column">
  <article class="card">
    <header class="card-divider">
      <h2>404 - Page introuvable</h2>
        <h5 class="subheader">Mais ou avez-vous trouvé ce lien!</h5>
    </header>
    <main class="card-section text-justify" id="article-content">
      <p>Cette page est introuvable, si vous avez suivi un lien sur le site pour arriver ici, n'hésitez pas à nous signaler le probleme via mail à <a href="mailto:contact@comptoirsecu.fr">contact@comptoirsecu.fr</a></p>

      <p><a href="/">Retour à l'accueil</a></p>
    </main>

  </article>
</section>

{{ partial "footer.html" . }}
