<article class="card" style="height: 100%;">
    <a href="{{ .Permalink }}"><img src="{{with .Params.image }}{{ . }}{{ else }}images/default.jpg{{end}}" /></a>
  <header class="card-divider">
    <h5><a href="{{ .Permalink }}">{{ .Title }}</a><h5>
    {{ if ne .Section "sechebdo" }}
    <h6 class="subheader">{{ .Params.subheadline }}<h6>
    {{ end }}
  </header>

  <main class="card-section">
    {{ if ne .Section "sechebdo" }}
      <p>{{ .Summary | truncate 150 }}</p>
    {{ else }}
      <p>{{ .Params.Subheadline }}</p>
    {{ end }}
  </main>

</article>
