<article class="card {{ .Section }}-section" style="height: 100%;">
    <a href="{{ .Permalink }}">
      {{ $img := or .Params.image "/images/covers/default.jpg" }}
      {{ $imgprefix := substr $img 0 -4 }}
      <picture>
        <!-- webp images -->
        <source type="image/webp" srcset="
                {{ $imgprefix }}-medium.webp 640w,
                {{ $imgprefix }}-large.webp 1024w"
                sizes="(max-width: 640px) 98vw, (max-width: 1024px) 48vw, 305px"
        alt="">
        <!-- jpeg images -->
          <source
           srcset="{{ $imgprefix }}-small.jpg 384w,
                   {{ $imgprefix }}-medium.jpg 640w,
                   {{ $imgprefix }}-large.jpg 1024w"
                   sizes="(max-width: 640px) 98vw, (max-width: 1024px) 48vw, 25vw"
           alt="">
           <img src="{{ $img }}">
      </picture>
    </a>
  <header class="card-divider">
    <h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
    {{ if ne .Section "sechebdo" }}
    <h6 class="subheader">{{ .Params.subheadline }}</h6>
    {{ end }}
  </header>

  <main class="card-section">
    {{ if ne .Section "sechebdo" }}
      <p>{{ .Summary | truncate 150 | htmlUnescape | plainify }}</p>
    {{ else }}
      <p>{{ .Params.Subheadline }}</p>
    {{ end }}
  </main>

</article>
