{{ partial "header.html" . }}


<div class="row align-middle t1">
  <div class="show-for-medium medium-1 align-justify align-middle column">
    {{if .PrevInSection}}
      <a href="{{.PrevInSection.Permalink}}" class="button expanded hollow"><i class="fa fa-chevron-left"></i></a>
    {{end}}
  </div>


  <section class=" small-12 medium-10 large-10 column">
    <article class="card">
      <header class="card-divider">
        <h2>{{ .Title }}</h2>
        {{ with .Params.subheadline }}
          <h5 class="subheader">{{ . }}</h5>
        {{ end }}
      </header>
      {{ if or (eq .Section "video") (eq .Section "sechebdo") }}
        <div class="responsive-embed widescreen">
          <iframe width="560" height="315" src="{{ .Params.Video }}" frameborder="0" allowfullscreen></iframe>
        </div>
      {{ else }}
      <img src="{{with .Params.image }}{{ . }}{{ else }}images/default.jpg{{end}}" />
      {{ end }}
      <main class="card-section text-justify" id="article-content">
        {{ .Content }}
      </main>

      {{ partial "metadata.html" . }}

    </article>
  </section>

  <div class="show-for-medium medium-1 align-justify column">
    {{if .NextInSection }}
      <a href="{{.NextInSection.Permalink}}" class="button expanded hollow"><i class="fa fa-chevron-right"></i></a>
    {{end}}
  </div>
</div>
  <div class="row align-center">
    <div class="small-6 medium-5 column">
      {{if .PrevInSection}}
        <center><a href="{{.PrevInSection.Permalink}}" class="button expanded hollow"><i class="fa fa-arrow-left"></i></a></center>
      {{end}}
    </div>
    <div class="small-6 medium-5 column">
      {{if .NextInSection}}
        <center><a href="{{.NextInSection.Permalink}}" class="button expanded hollow"><i class="fa fa-arrow-right"></i></a></center>
      {{end}}
    </div>
  </div>


{{ partialCached "footer.html" . }}
