{{ partial "header.html" . }}

<div class="row align-center t1">
  <div class="small-12 medium-10 large-8 column">
    <article class="card" style="height: 100%;">

      <header class="card-divider">
        <a href="{{ .Permalink }}">
          <h2>{{ .Title }}</h2>
        </a>
        <h6 class="subheader">Chercher une information sur le site du Comptoir Sécu</h6>
      </header>

      <main class="card-section">
        <script>
          (function() {
            var cx = '007178495607479160844:u56cdtbbtki';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
        </script>
        <gcse:search></gcse:search>
      </main>

    </article>

  </div>
</div>

{{ partial "footer.html" . }}
