{{ partial "header.html" . }}

<div class="row align-center t1">
  <div class="small-12 medium-10 large-8 column">
    <article class="card" style="height: 100%;">

      <header class="card-divider">
        <a href="{{ .URL }}">
          <h2>{{ .Title }}</h2>
        </a>
        <h6 class="subheader">Chercher une information sur le site du Comptoir Sécu</h6>
      </header>

      <main class="card-section">
        <iframe src="https://duckduckgo.com/search.html?prefill=_" style="overflow:hidden;margin:0;padding:0;width:100%;height:40px;" frameborder="0"></iframe>
      </main>

    </article>

  </div>
</div>

{{ partial "footer.html" . }}
