<!-- User card example #1 -->
<div class="card-user-container">
  <!--card's image-->
  <div class="card-user-avatar">
    <img src="/images/thumbnails/{{ if .value.image }}{{ .value.image }}{{ else }}user-default.jpg{{ end }}" alt="" class="user-image">
  </div>

  <!--user info name, bio and location-->
  <div class="card-user-bio">
    <h4>{{ .value.name }}</h4>
    {{ with .value.description }}
    <p>{{ . }}</p>
    {{ end }}
  </div>

  <!--card's socail icons-->
  <div class="card-user-social">
    <ul class="menu">
      {{ with .value.twitter }}
      <a href="https://twitter.com/{{ . }}"><li class="fa fa-twitter-square"></li></a>
      {{ end }}
      {{ with .value.linkedin }}
      <a href="{{ . }}"><li class="fa fa-linkedin-square"></li></a>
      {{ end }}
      {{ with .value.youtube }}
      <a href="https://www.youtube.com/channel/{{ . }}"><li class="fa fa-youtube-square"></li></a>
      {{ end }}
      {{ with .value.uri }}
      <a href="{{ . }}"><li class="fa fa-link"></li></a>
      {{ end }}
      {{ with .value.email }}
      <a href="mailto:{{ . }}"><li class="fa fa-envelope"></li></a>
      {{ end }}
    </ul>
  </div>

  <!--card's follow button-->
  <div class="card-user-button">
    <div class="stat"><a href="/authors/{{.key}}">{{ (index .site.Taxonomies.authors .key).Count }}</a></div>
    <p>Contributions</p>
  </div>
</div>
