<!-- User card example #1 -->
<div class="card" style="height: 100%;">
  <!--card's image-->
  <div class="card-section">
    {{ $img := .value.image | default "user-default.jpg" }}
    {{ $imgprefix := substr $img 0 -4 }}
    <a name="{{.key}}">
      <img src="/images/thumbnails/{{ $img }}"
      srcset="/images/thumbnails/{{ $img }} 1x, /images/thumbnails/{{ $imgprefix }}-@2x.jpg 2x" class="round-avatar" alt="{{ .value.name }}"/>
    </a>
  </div>

  <!--user info name, bio and location-->
  <div class="card-section card-bio">
    <h4>{{ .value.name }}</h4>
    {{ if ne .value.name "Équipe du ComptoirSécu" }}
      {{ if .value.inactive }}
      <span class="label disabled"><i class="fa fa-volume-off"></i> Inactif</span>
      {{ else }}
      <span class="label"><i class="fa fa-volume-up"></i> Actif</span>
      {{ end }}
    {{ end }}
  </div>
  <div class="card-section card-desc">
    {{ with .value.description }}
    <p>{{ . }}</p>
    {{ end }}
  </div>

  <!--card's socail icons-->
  <div class="card-divider card-social">
    <ul class="menu">
      {{ with .value.twitter }}
      <a href="https://twitter.com/{{ . }}"><li class="fa fa-twitter-square"></li></a>
      {{ end }}
      {{ with .value.linkedin }}
      <a href="{{ . }}"><li class="fa fa-linkedin-square"></li></a>
      {{ end }}
      {{ with .value.youtube }}
      <a href="https://www.youtube.com/channel/{{ . }}"><li class="fa fa-youtube-square"></li></a>
      {{ end }}
      {{ with .value.uri }}
      <a href="{{ . }}"><li class="fa fa-link"></li></a>
      {{ end }}
      {{ with .value.email }}
      <a href="mailto:{{ . }}"><li class="fa fa-envelope"></li></a>
      {{ end }}
    </ul>
  </div>

  <!--card's follow button-->
  <div class="card-section card-stats">
    {{ if eq .key "comptoirsecu" }}
    <div class="stat"><a href="/authors/">4</a></div>
    <p>Membres</p>
    {{ else }}
    {{ $nbitems := (index .site.Taxonomies.authors .key).Count }}
    <div class="stat"><a href="/authors/{{.key}}/#{{.key}}">{{ $nbitems }}</a></div>
    <p>Contribution{{ if (gt $nbitems 1)}}s{{end}}</p>
    {{ end }}
  </div>
</div>
