<!-- User card example #1 -->
<div class="card" style="height:100%;">
  <!--card's image-->
  <div class="card-section">
    <img src="/images/thumbnails/{{ if .value.image }}{{ .value.image }}{{ else }}drink-default.jpg{{ end }}" alt="" class="round-avatar">
  </div>

  <!--user info name, bio and location-->
  <div class="card-section card-bio">
    <h4><a name="{{ .key }}">{{ .value.name }}</a></h4>
  </div>
  <div class="card-section card-desc">
    {{ with .value.description }}<p>{{ . }}</p>{{ end }}
  </div>

  <!--card's socail icons-->
  <div class="card-divider card-social">
    <ul class="menu">
      {{ with .value.type }}{{ . }}{{ end }}
      {{ with .value.subtype}}({{ . }}){{ end}}
      {{ with .value.degree }}, {{ . }}°{{ end }}
      {{ with .value.linkedin }}
      <a href="{{ . }}"><li class="fa fa-linkedin-square"></li></a>
      {{ end }}
      {{ with .value.country }}
      <br />
      <li class="fa fa-globe"></li>{{ . }}
      {{ end }}
      {{ with .value.uri }}
      <a href="{{ . }}"><li class="fa fa-link"></li></a>
      {{ end }}
      {{ with .value.email }}
      <a href="mailto:{{ . }}"><li class="fa fa-envelope"></li></a>
      {{ end }}
    </ul>
  </div>

  <!--card's follow button-->
  <div class="card-section card-stats">
    <div class="stat"><a href="/drinks/{{.key}}">{{ (index .site.Taxonomies.drinks .key).Count }}</a></div>
    <p>Dégustations</p>
  </div>
</div>
