<!-- User card example #1 -->
<div class="card" style="height:100%;">
  <!--card's image-->
  <div class="card-section">
    {{ $img := .value.image | default "drink-default.jpg" }}
    {{ $imgprefix := substr $img 0 -4 }}
    <a name="{{.key}}">
      <img src="/images/thumbnails/{{ $img }}"
      srcset="/images/thumbnails/{{ $img }} 1x, /images/thumbnails/{{ $imgprefix }}-@2x.jpg 2x" class="round-avatar" alt="{{ .value.name }}"/>
    </a>
  </div>

  <!--user info name, bio and location-->
  <div class="card-section card-bio">
    <h4>{{ .value.name }}</h4>
  </div>
  <div class="card-section card-desc">
    {{ with .value.description }}<p>{{ . }}</p>{{ end }}
  </div>

  <!--card's socail icons-->
  <div class="card-divider card-social">
    <ul class="menu">
      {{ with .value.type }}{{ . }}{{ end }}
      {{ with .value.subtype}}({{ . }}){{ end}}
      {{ with .value.degree }} – {{ . }}°{{ end }}
      {{ with .value.linkedin }}
      <a href="{{ . }}"><li class="fa fa-linkedin-square"></li></a>
      {{ end }}
      {{ with .value.country }}
      <br />
      <li class="fa fa-globe"></li>{{ . }}
      {{ end }}
      {{ with .value.uri }}
      <a href="{{ . }}"><li class="fa fa-link"></li></a>
      {{ end }}
      {{ with .value.email }}
      <a href="mailto:{{ . }}"><li class="fa fa-envelope"></li></a>
      {{ end }}
    </ul>
  </div>

  <!--card's follow button-->
  <div class="card-section card-stats">
    {{ $nbitems:= (index .site.Taxonomies.drinks .key).Count}}
    <div class="stat"><a href="/drinks/{{.key}}/#{{.key}}">{{ $nbitems }}</a></div>
    <p>Dégustation{{ if gt $nbitems 1 }}s{{end}}</p>
  </div>
</div>
