<div id="site-footer" class="row full-width t2">
  <div class="small-12 medium-6 column">
    <h5>À propos</h5>
    <p>Le Comptoir Sécu est un podcast traitant de la cybersécurité à travers des dossiers thématiques et des revues de l'actualité spécialisée. <a href="/page/apropos/" title="A propos du Comptoir Sécu">Suite</a></p>
    <p>
      <i class="fa fa-creative-commons"></i> Podcast en <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode.fr">CC BY-NC-SA</a>
    </p>
  </div>
  <div class="small-12 medium-3">
    <h5>Services</h5>
    <ul>
      <li><a href="/page/contact"><i class="fa fa-address-card fa-fw"></i>
         Contact</a></li>
      <li><a href="/page/pantheon" title="Le Panthéon du Comptoir"><i class="fa fa-university fa-fw"></i>
         Panthéon</a></li>
      <li><a href="/feed/all.xml" title=""><i class="fa fa-rss fa-fw"></i>
         RSS / Atom</a></li>
      <li><a href="/sitemap.xml" title=""><i class="fa fa-sitemap fa-fw"></i>
         Sitemap</a></li>
    </ul>
  </div>
  <div class="small-12 medium-3">
    <h5>Faire un don</h5>
    <ul>
      <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=JGQTTJM88SYYC"><i class="fa fa-paypal fa-fw"></i>
         Paypal</a></li>
    </ul>
  </div>

</div>

<div class="row full-width" id="site-subfooter">
  <div class="small-12 site-subfooter" align="center">
    <p>
      <ul><span class="show-for-large">Retrouvez nous sur</span>
        <li><a href="https://www.youtube.com/channel/UCF-ljS9G2ABgsN7P83WDFhQ" title="Youtube"><i class="fa fa-youtube"></i>
          <span class="show-for-medium"> Youtube</span></a></li>
        <li><a href="http://discord.comptoirsecu.fr" title="Discord"><i class="fa fa-comments-o"></i>
          <span class="show-for-medium"> Discord</span></a></li>
        <li><a href="https://github.com/comptoirsecu/" title="GitHub"><i class="fa fa-github"></i>
            <span class="show-for-medium"> GitHub</span></a></li>
        <li><a href="https://twitter.com/comptoirsecu" title="Twitter"><i class="fa fa-twitter"></i>
          <span class="show-for-medium"> Twitter</span></a></li>
        <li><a href="https://www.facebook.com/LeComptoirSecu/"><i class="fa fa-facebook"></i>
          <span class="show-for-medium"> Facebook</span></a></li>
        <li><a href="https://www.linkedin.com/company/le-comptoir-sécu" title="LinkedIn"><i class="fa fa-linkedin"></i>
          <span class="show-for-medium"> LinkedIn</span></a></li>
        <li><a href="https://plus.google.com/communities/117090624990342742312" title="Google+"><i class="fa fa-google-plus"></i>
          <span class="show-for-medium"> Google+</span></a></li>
      </ul>
    </p>
  </div>
</div>

    {{ $jqueryJS := resources.Get "js/jquery-2.1.4.min.js" | fingerprint }}
    <script type="text/javascript" src="{{ $jqueryJS.Permalink }}" integrity="{{ $jqueryJS.Data.Integrity }}"></script>

    {{ $foundationCoreJS := resources.Get "js/foundation-enabled/foundation.core.js" }}
    {{ $foundationUtilBoxJS := resources.Get "js/foundation-enabled/foundation.util.box.js" }}
    {{ $foundationUtilKeyboardJS := resources.Get "js/foundation-enabled/foundation.util.keyboard.js" }}
    {{ $foundationUtilMediaQueryJS := resources.Get "js/foundation-enabled/foundation.util.mediaQuery.js" }}
    {{ $foundationUtilMotionJS := resources.Get "js/foundation-enabled/foundation.util.motion.js" }}
    {{ $foundationUtilNestJS := resources.Get "js/foundation-enabled/foundation.util.nest.js" }}
    {{ $foundationUtilTriggersJS := resources.Get "js/foundation-enabled/foundation.util.triggers.js" }}
    {{ $foundationAccordionMenuJS := resources.Get "js/foundation-enabled/foundation.accordionMenu.js" }}
    {{ $foundationdropdownMenuJS := resources.Get "js/foundation-enabled/foundation.dropdownMenu.js" }}
    {{ $foundationResponsiveMenuJS := resources.Get "js/foundation-enabled/foundation.responsiveMenu.js" }}
    {{ $foundationResponsiveToggleJS := resources.Get "js/foundation-enabled/foundation.responsiveToggle.js" }}
    {{ $foundationTogglerJS := resources.Get "js/foundation-enabled/foundation.toggler.js" }}
    {{ $foundationJS := slice $foundationCoreJS $foundationUtilBoxJS $foundationUtilKeyboardJS $foundationUtilMediaQueryJS $foundationUtilMotionJS $foundationUtilNestJS $foundationUtilTriggersJS $foundationAccordionMenuJS $foundationdropdownMenuJS $foundationResponsiveMenuJS $foundationResponsiveToggleJS $foundationTogglerJS | resources.Concat "js/app.js" | minify | fingerprint }}

    <script type="text/javascript" src="{{ $foundationJS.RelPermalink }}" integrity="{{ $foundationJS.Data.Integrity }}"></script>

    {{ $foundationBootstrapJS := resources.Get "js/foundation-start.js" | minify | fingerprint }}
    <script type="text/javascript" src="{{ $foundationBootstrapJS.RelPermalink }}" integrity="{{ $foundationBootstrapJS.Data.Integrity }}"></script>
  </body>
</html>
