<!-- User card example #1 -->
<div class="card" style="height: 100%;">
  <!--card's image-->
  <div class="card-section">
    <a name="{{.key}}">
      {{ $img := .value.image | default "user-default.jpg" }}
      {{ $imgprefix := substr $img 0 -4 }}
      <img src="/images/thumbnails/{{ $img }}"
        srcset="/images/thumbnails/{{ $img }} 1x, /images/thumbnails/{{ $imgprefix }}-@2x.jpg 2x" class="round-avatar" alt="{{ .value.name }}"/>
    </a>
  </div>

  <!--user info name, bio and location-->
  <div class="card-section card-bio">
    <h4>{{ .value.name }}</h4>
  </div>
  <div class="card-section card-desc">
    {{ with .value.description }}
    <p>{{ . }}</p>
    {{ end }}
  </div>

  <!--card's socail icons-->
  <div class="card-divider card-social">
    <ul class="menu">
      {{ if .value.anonymous }}
        Confidentiel
      {{ else }}
        {{ with .value.twitter }}
        <a href="https://twitter.com/{{ . }}"><li class="fa fa-twitter-square"></li></a>
        {{ end }}
        {{ with .value.linkedin }}
        <a href="{{ . }}"><li class="fa fa-linkedin-square"></li></a>
        {{ end }}
        {{ with .value.youtube }}
        <a href="https://www.youtube.com/channel/{{ . }}"><li class="fa fa-youtube-square"></li></a>
        {{ end }}
        {{ with .value.uri }}
        <a href="{{ . }}"><li class="fa fa-link"></li></a>
        {{ end }}
        {{ with .value.email }}
        <a href="mailto:{{ . }}"><li class="fa fa-envelope"></li></a>
        {{ end }}
      {{ end }}
    </ul>
  </div>

  <!--card's follow button-->
  <div class="card-section card-stats">
    <div class="stat"><a href="/guests/{{.key}}/#{{.key}}">{{ (index .site.Taxonomies.guests .key).Count }}</a></div>
    <p>Participations</p>
  </div>
</div>
