<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "headline": "{{ if .Params.subheadline }}{{ .Params.subheadline }}{{ else }}Le Comptoir Sécu est un podcast traitant de la cybersécurité à travers des dossiers thématiques et des revues de l'actualité spécialisée.{{ end }}",
    {{ with .Params.date }}
    "datePublished": "{{ dateFormat "02/01/2006-01-02T03:04:05Z" . }}",
    {{ end }}
    "image": [
      "{{ .Site.BaseURL }}{{if .Params.image }}{{ .Params.image }}{{else}}/images/default.jpg{{end}}"
    ]
  }
</script>
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>


<style amp-custom>
body { background-color: #ECF0F1; color: #0a0a0a;
  overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#article { padding: 0em 1em 0 1em; }
#headings { background-color: #0a0a0a; font-family: 'Roboto Slab', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-top: 0.3em;}
#headings h1 { color: #ECF0F1; padding-left: 0.5em; padding-right: 0.5em;}
h1 {font-size: 1.2em; }
h2 { font-size: 1.1em; }
h3 { font-size: 1em; }
h4 { font-size: 0.9em; }
h5 { font-size: 0.8em; }
h6 { font-size: 0.7em; }
a { color: #3498DB; text-decoration: none;}
.subheadline { font-size: 0.9em; color: #cacaca; padding-left: 0.8em; padding-right: 0.5em;}
#metadatas { background-color: #d7dadb; color: #8a8a8a; font-size: 0.8em; padding: 0.2em 0.5em 0.2em 0.5em;}
#metadatas a { color: #E74C3C; }
#metadatas .tags  { display: none; }
.hero-section-text {
  color: white;
  text-shadow: 1px 1px 2px #000;
}
.hero-section-text h1 {
  font-size: 2em;
  margin-bottom: 0;
}
.hero-section-text h5 {
  margin-top: 0;
  font-size: 1em;
}
.hero-section {
  background: url("/images/hero-blue.jpg") 50% no-repeat;
  background-size: cover;
  height: 25vh;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 5%;
}
.logo {
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  margin-right: 0.3em;
  background-size: 1.3em 1.3em;
  background-image: url("/images/logo-white.png");
}
.callout {
  border: 3px solid grey;
  padding: 0 0.5em 0.3em 0.5em;
  margin: 0.5em;
  color: white;
  background-color: #3498DB;
}
.callout h5 {
  font-size: 1.2em;
  margin-bottom: 0;
  margin-top: 0.2em;
}
</style>
{{ if in .Params.categories "Podcast" }}
  <script async custom-element="amp-audio" src="https://cdn.ampproject.org/v0/amp-audio-0.1.js"></script>
{{ end }}
{{ if or (eq .Section "video") (eq .Section "sechebdo") }}
  <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
{{ end }}
<script async custom-element="amp-analytics"
    src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
