{{ if gt .Paginator.TotalPages 1 }}
<div class="row align-center">
  <ul class="pagination text-center" role="navigation">
    {{ if .Paginator.HasPrev }}
    <li class="pagination-previous"><a href="{{ .Paginator.Prev.URL }}">Précédent</a></li>
    {{ else }}
    <li class="pagination-previous disabled">Précédent</li>
    {{ end }}
    {{ range .Paginator.Pagers }}
      {{ if eq .PageNumber $.Paginator.PageNumber }}
    <li class="current"><a hrf="{{ .URL }}">{{ .PageNumber }}</a></li>
      {{ else }}
    <li><a href="{{ .URL }}">{{ .PageNumber }}</a></li>
      {{ end }}
    {{ end }}
    {{ if .Paginator.HasNext }}
    <li class="pagination-next"><a href="{{ .Paginator.Next.URL }}">Suivant</a></li>
    {{ else }}
    <li class="pagination-next disabled">Suivant</li>
    {{ end }}
  </ul>
</div>
{{ end }}
