<!-- User card example #1 -->
<div class="card" style="height: 100%;">
  <!--card's image-->
  <div class="card-section" align="center">
    {{ $img := .value.image | default "song-default.jpg" }}
    {{ $imgprefix := substr $img 0 -4 }}
    <a name="{{.key}}"></a>
    <a href="/songs/{{.key}}/#{{.key}}">
      <img src="/images/thumbnails/{{ $img }}"
      srcset="/images/thumbnails/{{ $img }} 1x, /images/thumbnails/{{ $imgprefix }}-@2x.jpg 2x" class="round-avatar" alt="{{ .value.artist }}"/>
    </a>
  </div>

  <!--user info name, bio and location-->
  <div class="card-section card-bio">
    <h4>{{ .value.song }}</h4>
    <h5 class="subheadline">{{ .value.artist }}</h5>
  </div>
  <div class="card-section card-desc">
    {{ with .value.description }}
    <p>{{ . }}</p>
    {{ end }}
  </div>

  <!--card's socail icons-->
  <div class="card-divider card-social">
    <ul class="menu align-center">
      {{ with .value.uri }}
      <a href="{{ . }}"><li class="fa fa-music"></li> écouter</a>
      {{ end }}

    </ul>
  </div>

  <!--card's follow button-->
  <div class="card-section card-stats">
    {{ $nbitems := (index .site.Taxonomies.songs .key).Count }}
    <div class="stat"><a href="/songs/{{.key}}/#{{.key}}">{{ $nbitems }}</a></div>
    <p>Interlude{{ if gt $nbitems 1 }}s{{end}}</p>
  </div>
</div>
