{{ partial "header.html" . }}

<div class="row align-center">
  <section class="large-10 medium-12 small-12 columns t1">
    {{ if .Site.Params.live }}

      <div id="live" class="callout t1">
        <h3><i class="fa fa-youtube-square"></i> Émission Live</h3>
        <div class="responsive-embed widescreen">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ $.Site.Params.live_id }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <a class="button secondary expanded hollow" href="http://discord.comptoirsecu.fr" target="_blank">Échangez avec nous en live sur le tchat Discord</a>
      </div>
    {{ end }}
    <h2>Dernières parutions</h2>
    <div class="row small-up-1 medium-up-2 large-up-3 align-left">
      {{ range first 1 (where .Data.Pages "Section"  "podcast") }}
        <div class="column column-block">
          {{ .Render "card" }}
        </div>
      {{ end }}
      {{ range first 1 (where .Data.Pages "Section"  "sechebdo") }}
        <div class="column column-block">
          {{ .Render "card" }}
        </div>
      {{ end }}
      {{ range first 1 (where .Data.Pages "Section"  "video") }}
        <div class="column column-block">
          {{ .Render "card" }}
        </div>
      {{ end }}
    </div>

      {{ range first 1 (where .Data.Pages "Section" "annonce") }}
          {{ .Render "callout" }}
      {{ end }}



    <h2>Emissions et hors-séries</h2>
    <div class="row small-up-1 medium-up-2 large-up-3 align-left">
      {{ range first 5 (where .Data.Pages "Section" "podcast") }}
        <div class="column column-block">
          {{ .Render "card" }}
        </div>
      {{ end }}
      <div class="column column-block align-self-middle">
          <a href="/podcast/" class="button success expanded hollow">Archives</a>
      </div>
    </div>

    <h2>SECHebdos</h2>
    <div class="row small-up-1 medium-up-2 large-up-3 align-left">
      {{ range first 5 (where .Data.Pages "Section" "sechebdo") }}
        <div class="column column-block">
          {{ .Render "card" }}
        </div>
      {{ end }}
      <div class="column column-block align-self-middle">
          <a href="/sechebdo/" class="button success expanded hollow">Archives</a>
      </div>
    </div>

    <h2>Vidéos</h2>
    <div class="row small-up-1 medium-up-2 large-up-3 align-left">
      {{ range first 5 (where .Data.Pages "Section" "video") }}
        <div class="column column-block">
          {{ .Render "card" }}
        </div>
      {{ end }}
        <div class="column column-block align-self-middle">
            <a href="/video/" class="button success expanded hollow">Archives</a>
        </div>
    </div>
  </section>

<!--
  <section class="large-3 medium-2 small-12 columns">
    <div class="row align-center">
    {{ partial "aside.html" . }}
    </div>
  </section>
-->
</div>

{{ partial "footer.html" . }}
