{{ partial "header.html" . }}

<div class="row align-center">
  <section class="large-10 medium-12 small-12 columns t1">
    {{ if .Site.Params.live }}
      {{ partial "live.html" .}}
    {{ end }}

    {{ range $index, $annonce := first 3 (where .Data.Pages "Section" "annonce") }}
        {{ if eq $index 0  }}
          {{ .Render "callout" }}
        {{ else }}
          {{ .Render "oneline" }}
        {{ end }}
    {{ end }}


    <h2>Nos contenus récents</h2>
    <div class="row small-up-1 medium-up-2 large-up-3 align-left">
      {{ range first 1 (where .Data.Pages "Section"  "podcast") }}
        <div class="column column-block">
          {{ .Render "card" }}
        </div>
      {{ end }}
      {{ range first 1 (where .Data.Pages "Section"  "sechebdo") }}
        <div class="column column-block">
          {{ .Render "card" }}
        </div>
      {{ end }}
      {{ range first 1 (where .Data.Pages "Section"  "video") }}
        <div class="column column-block">
          {{ .Render "card" }}
        </div>
      {{ end }}
    </div>





    <h2>Emissions et hors-séries</h2>
    <div class="row small-up-1 medium-up-2 large-up-3 align-left">
      {{ range first 3 (where .Data.Pages "Section" "podcast") }}
        <div class="column column-block">
          {{ .Render "card" }}
        </div>
      {{ end }}
    </div>
    <div class="column align-self-middle">
        <a href="/podcast/" class="tiny button success expanded hollow">Archives</a>
    </div>


    <h2 class="community">Blog <span class="label secondary"><i class="fa fa-users"></i> espace communautaire</span></h2>
    <div class="row small-up-1 medium-up-2 large-up-3 align-left">
      {{ range first 3 (where .Data.Pages "Section" "blog") }}
        <div class="column column-block">
          {{ .Render "card" }}
        </div>
      {{ end }}
    </div>
    <div class="column align-self-middle">
        <a href="/blog/" class="tiny button success expanded hollow">Archives</a>
    </div>

    <h2>SECHebdos</h2>
    <div class="row small-up-1 medium-up-2 large-up-3 align-left">
      {{ range first 3 (where .Data.Pages "Section" "sechebdo") }}
        <div class="column column-block">
          {{ .Render "card" }}
        </div>
      {{ end }}
    </div>
    <div class="column align-self-middle">
        <a href="/sechebdo/" class="tiny button success expanded hollow">Archives</a>
    </div>

    <h2>Vidéos</h2>
    <div class="row small-up-1 medium-up-2 large-up-3 align-left">
      {{ range first 3 (where .Data.Pages "Section" "video") }}
        <div class="column column-block">
          {{ .Render "card" }}
        </div>
      {{ end }}
    </div>
    <div class="column column-block align-self-middle">
        <a href="/video/" class="tiny button success expanded hollow">Archives</a>
    </div>
  </section>
</div>

{{ partial "footer.html" . }}
