{{ partial "header.html" . }}
{{ $key := .Title | urlize }}
{{ $song := (index .Site.Data.songs $key) }}
<div class="row align-center t1">
  <div class="small-12 medium-12 large-10 column">
    <h2 class="text-center">Épisodes utilisant "{{ $song.song }}" de {{ $song.artist }}</h2>
    {{ partial "pagination.html" . }}
    <div class="row small-up-1 medium-up-2 large-up-3 align-center">
      <div class="column column-block">
      {{ partial "song.html" (dict "key" $key "value" $song "site" $.Site) }}
      </div>
      {{ range .Paginator.Pages }}
      <div class="column column-block">
       {{ .Render "card" }}
      </div>
      {{ end }}
    </div>
    {{ partial "pagination.html" . }}
  </div>
</div>


{{ partialCached "footer.html" . }}
