$card-section-color: $ultraviolet;
$card-divider-color: $pink;
$card-divider-link-color: $white;

$metadata-background-color: $light-gray;
$metadata-color: $dark-gray;
$metadata-link-color: $violet;

$hero-height: 35vh;
$hero-section-text: $white;
$hero-background-image: '/images/logo-white.png';

$menu-link-color: $white;
$top-bar-title-link-color: $white;

$card-user-container-margin-bottom: 1rem;
$card-user-container-radius: $global-radius;
$card-user-container-background: $white;
$card-user-container-color: $black;
$card-user-container-image-size: rem-calc(190);

.hero-section {
  background: url('/images/hero-1.jpg') 50% no-repeat;
  background-size: cover;
  height: $hero-height;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 5%;

  .hero-section-text {
    color: $hero-section-text;
    text-shadow: 1px 1px 2px $black;
  }

  .logo {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.3em;
    background-size: 1em 1em;
    background-image: url($hero-background-image);
  }
}

.menu a {
  color: $menu-link-color;
}

.top-bar-title a {
  color: $top-bar-title-link-color;
}

.card-divider {
  a {
    color: $card-divider-link-color;
  }
  color: $card-divider-color;
}

.t1 { margin-top: 1em; }
.t2 { margin-top: 2em; }
.t3 { margin-top: 3em; }
.t4 { margin-top: 4em; }
.t5 { margin-top: 5em; }



.card-section {
  color: $card-section-color;
}

#article-content
{
  padding: 2em 10% 4em 10%;
}

#metadatas
{
  background-color: $metadata-background-color;
  color: $metadata-color;
  a {
    color: $metadata-link-color;
  }
  .label a { color: $white; }
}

/**
  Cards utilisés dans les registres
**/

.card-user-container {
  margin-bottom: $card-user-container-margin-bottom;
  background-color: $card-user-container-background;
  color: $card-user-container-color;
  overflow: hidden;
  padding: 0;
  border-radius: $card-user-container-radius;

  .card-user-avatar {
    .user-image {
      display: block;
      margin: auto;
      border-radius: 50%;
      width: $card-user-container-image-size;
      height: $card-user-container-image-size;
      padding: rem-calc(15);

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .card-user-bio {
    padding: 1rem;
    text-align: center;
    h4 {
      color: $black;
    }
    a {
      color: $black;
    }

    .location {
      display: inline-block;
      margin: 0 rem-calc(15);
      color: $secondary-color;
      font-size: rem-calc(14);
    }

    .location-icon,
    .location-text {
      display: inline-block;
      padding: 0 rem-calc(5);
    }
  }

  .card-user-social {
    background: $black;
    color: $white;
    padding: 1rem;
    text-align: center;
    ul {
      display: inline-block;

      li {
        margin: 0 10px;
        font-size: 1.2em;
        cursor: pointer;
        color: $white;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .card-user-button {
    text-align: center;
    padding: 1rem;
  }
}
