$card-section-color: $greyblue;
$card-divider-color: $teal;
$card-divider-link-color: $white;

$metadata-background-color: #d7dadb;
$metadata-color: $dark-gray;
$metadata-link-color: $carmin;

$hero-height: 27vh;
$hero-section-text: $white;
$hero-logo-image: '/images/logo-white.png';
$hero-background-image: '/images/hero-blue.jpg';

$menu-link-color: $white;
$top-bar-title-link-color: $white;

$card-user-container-margin-bottom: 1rem;
$card-user-container-radius: $global-radius;
$card-user-container-background: $white;
$card-user-container-color: $black;
$card-user-header-color: $carmin;
$card-user-subheader-color: $dark-gray;
$card-user-container-image-size: rem-calc(230);

$article-header-color: $black;

article main
{
  h1, h2, h3, h4, h5, h6
  {
    color: $article-header-color;
    text-align: left;
  }

  h1 { font-size: 200%; }
  h2 { font-size: 170%; }
  h3 { font-size: 140%; }
  h4 { font-size: 130%; }
  h5 { font-size: 120%; }
  h6 { font-size: 110%; }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  ul, ol {
    text-align: left;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .callout {
    background-color: $metadata-background-color;
  }
}

.hero-section {
  background: url($hero-background-image) 50% no-repeat;
  background-size: cover;
  height: $hero-height;
  min-height: 120px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 5%;

  .hero-section-text {
    color: $hero-section-text;
    text-shadow: 1px 1px 2px $black;
    a { color: #fff;}
  }

  .logo {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.3em;
    background-size: 1em 1em;
    background-image: url($hero-logo-image);
  }
}

.menu a {
  color: $menu-link-color;
}

.top-bar-title a {
  color: $top-bar-title-link-color;
}

.card-divider {
  a {
    color: $card-divider-link-color;
  }
  color: $card-divider-color;
}

.t1 { margin-top: 1em; }
.t2 { margin-top: 2em; }
.t3 { margin-top: 3em; }
.t4 { margin-top: 4em; }
.t5 { margin-top: 5em; }

.b1 { margin-bottom: 1em; }
.b2 { margin-bottom: 2em; }
.b3 { margin-bottom: 3em; }
.b4 { margin-bottom: 4em; }
.b5 { margin-bottom: 5em; }

.card-section {
  color: $card-section-color;
}

#article-content
{
  padding: 2em 10% 4em 10%;
}

#article-media
{
  padding: 0;
}

.card-divider.metadatas
{
  background-color: $metadata-background-color;
  color: $metadata-color;
  a {
    color: $metadata-link-color;
  }
  .label a { color: $white; }
  h5, h6 { color: $dark-gray;}
}

.round-avatar {
  display: block;
  margin: auto;
  border-radius: 50%;
  width: $card-user-container-image-size;
  height: $card-user-container-image-size;
  padding: rem-calc(15);

}

.card-bio {
  padding: 1rem;
  flex: 0 1 auto;
  text-align: center;
  h4, h4 a {
    color: $card-user-header-color;
  }
  h5, h5 a {
    color: $card-user-subheader-color;
  }
  a {
    color: $black;
  }
}

.card-desc {
  flex-grow: 10000;
  text-align: center;
}
.card-stats {
  text-align: center;
  max-height: 6rem;
}

.card-social {
  padding: 1rem;
  text-align: center;
  color: $white;
  ul {
    display: inline-block;
    li {
      margin: 0 10px;
      font-size: 1.2em;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.annonce, #live {
  h1, h2, h3, h4, h5, h6 {
    color: $carmin;
  }
  a {
    color: $carmin;
  }

  .label.secondary {
    color: $white;
  }
}

.annonce-old {
  h1, h2, h3, h4, h5, h6, a { color: $black; margin-bottom: 0; }
}

.callout.warning a {
  color: $white;
}


#site-footer {
  padding: 1rem;
  background-color: #152026;
  ul {
    list-style: none;
  }
  h5 {
    text-shadow: 2px 2px #070707;
    text-transform: uppercase;
  }
}

#site-subfooter {
  padding-left: 1rem;
  background-color: $black;
  ul {
   list-style: none;
   li {
     display: inline;
     padding-left: 1rem;
   }
 }
}


.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.top-bar-title {
  padding: 0.5rem;
}

.video-section {

}








#isso-thread {


    h4 {
      /* title "x comments" */
      color: $white;
    }

    .isso-postbox {
      /* post form */
      .form-wrapper {
          .textarea-wrapper {
            /* comment text field */
            background-color: #fff;
            color: $black;
            padding: 0.5em;
            @include breakpoint(small) {
              margin: 0.7rem;
            }
            @include breakpoint(medium) {
              margin: 1rem;
            }
            border-radius: 0.2em;

            .textarea {
              min-height: 58px;
              outline: 0;
            }
          }
          .auth-section {
            @include breakpoint(small) {
              @include grid-layout(1, '.input-wrapper', $grid-column-gutter);
              .input-wrapper { margin: 0;}
            }
            @include breakpoint(medium) {
              @include grid-layout(3, '.input-wrapper', $grid-column-gutter);
            }


            /* author, mail and website fields, with submit button */
            .input-wrapper {
              /* author, email and website fields */
            }

            .post-action {
              /* submit button */
              input {
                @include button("true", $button-background, $button-background-hover, $button-color, "hollow");
                font-weight: bold;
              }
              @include breakpoint(small) {
                margin: 0.7rem;
              }
              @include breakpoint(medium) {
                margin: 1rem;
              }
            }
          }
      }
    }


    #isso-root {
      .isso-follow-up {
        /* nested comment */
        .isso-comment {
          margin-left: 2em;
          padding-left: 0;
          .avatar {
            svg { width: 3em; }

          }

          .text-wrapper {
            .isso-comment-header {
              margin-bottom: 0;
            }
          }
        }
      }

      /* comment list */
      .isso-comment {
        background-color: $white;
        border-radius: 0.2em;
        color: $black;
        margin: 1em;
        padding: 0.5em;

        /* nested reply form */
        .form-wrapper {
          margin: 0.5em 0 0 0 !important;
          padding: 0.5em 0 0.2em 0 !important;
        }

        /* comment container */
        .avatar {
          float: left;
          display: block;
          margin-right: 1em;

          //flex-basis: auto !important;
          svg {
            width: 4em;
            box-shadow: $thumbnail-shadow;
          }
        }
        .text-wrapper {

          .isso-comment-header {
            margin-bottom: 1em;
            .author {
              color: $black;
              font-weight: bold;
            }
            .permalink {
              @include breakpoint(small) { display: block; }
              @include breakpoint(medium) { display: inline; }
              /* 16 minutes ago */
              color: $dark-gray;
              font-size: 80%;
              padding-left: 1em;
            }

            .spacer {
              display: none;
            }

            /* note currently unused */
            .note {}
          }

          .text {
            h1, h2, h3, h4, h5, h6 { color: $black; }
            margin: 0.1em;
            @include breakpoint(small) { padding-top: 1em }
            @include breakpoint(medium) { padding-top: 0em; }

          }

          .isso-comment-footer {
            @include button-group("a:nth-child(n)");

            /* vote: currently unused */
            .vote {}
            .upvote {}
            .downvote {}


            .reply, .edit, .delete, .cancel {
              @include button(false, $button-background, $button-background-hover, $button-color, "hollow");
              padding: 0.5em;
            }
            .delete, .cancel {
              color: red;
              border-color: red;
            }
          }

          .form-wrapper {
            margin: 1em;
            background-color: $body-background;
            padding: 1em;
            border-radius: 0.2em;
          }
        }
      }
    }

}

$card-border-bottom-size: 5px;

.podcast-section {
  border-bottom-width: $card-border-bottom-size;
}
.emission-category {
    border-bottom-color: #ee4036;
}
.hors-serie-category {
    border-bottom-color: #6c6c74;
}

.blog-section .authors a { color: $teal; }
.sechebdo-section {
  border-bottom-width: $card-border-bottom-size;
  border-bottom-color: #d6b486;
}

.video-section {
  border-bottom-width: $card-border-bottom-size;
}

.seclair-category {
    border-bottom-color: #fbac1d;
}

.secompris-category {
    border-bottom-color: #00a1d9;
}
.poc-category {
    border-bottom-color: #3dbb7e;
}


#menu-highlight {
  background-color: $carmin !important;
  a { color: white !important; }

}

.community-author a { color: $teal; }

.label.disabled { background-color: $dark-gray; }

.annonce-old .label { margin-left: 0.7em; }

.label.secondary { color: $white; }

thead { color: $carmin; }


.about-author {
  .bio-social-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    .bio {
      @include breakpoint(medium) { margin-left: 1em; }
      @include breakpoint(small only) {
        flex: 1 100%;
        text-align: center;
      }
      h4 { color: $black; }
    }
    .social {
      @include breakpoint(small only) {
        flex: 1 100%;
        margin: auto;
        text-align: center;
      }
    }
  }

  .avatar-description-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .avatar {
      flex: 0 150px;
      margin: auto;

      .round-avatar {

        border-radius: 50%;
        width: $card-user-container-image-size /2;
        height: $card-user-container-image-size /2;
        padding: rem-calc(10);

      }
    }

    .description {
      @include breakpoint(small only) {
        flex: 1 100%;
        margin: auto;
        padding: 1em;
        text-align: justify;
      }
      @include breakpoint(medium) {
        flex: 4;
      }
      color: $black;

      text-justify: inter-word;
    }

  }

}

figcaption { text-align: center; margin: 1em; }

.callout .date-tag {
  float: right;
  font-size: 0.8em;
  color: $dark-gray;
  right: -90%;
  top: -10%;
}


pre {
  font-family: "Consolas, Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream", "Vera Sans Mono", "Courier New";
  border: 1px solid #cacaca;
  background-color: #e6e6e6;
  color: #0a0a0a;
  overflow-x: auto;
  max-height: 500px;
  padding: 1em;
  margin: 1em;
}

pre code {
  border: 0px;
}
