{{ if .IsNamedParams }}
  <figure>
    <a href="{{ if .Get "href" }}{{ .Get "href"}}{{ else }}/images/misc/{{ .Get "src"}}{{ end }}">
    <img src="/images/misc/{{ .Get "src" }}" alt="
        {{ if .Get "alt" }}{{ .Get "alt" }}{{ else }}
          {{ if .Get "desc" }}{{ .Get "desc" }}{{ else }}{{ .Get "src" }}{{ end }}{{ end}}"/>
    </a>
    {{ with .Get "desc" }}
    <figcaption>{{ . }}</figcaption>
    {{ end }}
  </figure>

{{ else }}

  <figure>
    <a href="/images/misc/{{ .Get 0 }}">
    <img src="{{ .Get 0 }}" alt="{{ .Get 0 }}" />
    </a>
  </figure>
{{ end }}
