{{- if .Get "title" -}}
  {{- $.Scratch.Set "title" (.Get "title") -}}
{{- else if $.Page.Params.Podcast.Title -}}
  {{- $.Scratch.Set "title" $.Page.Params.Podcast.Title -}}
{{- else -}}
  {{- $.Scratch.Set "title" $.Page.Title -}}
{{- end }}

{{- if .Get "subtitle" -}}
  {{- $.Scratch.Set "subtitle" (.Get "subtitle") -}}
{{- else if $.Page.Params.Podcast.Subtitle -}}
  {{- $.Scratch.Set "subtitle" $.Page.Params.Podcast.Subtitle -}}
{{- else if $.Page.Params.Subheadline -}}
  {{- $.Scratch.Set "subtitle" $.Page.Params.Subheadline -}}
{{- else -}}
  {{- $.Scratch.Set "subtitle"  "" -}}
{{- end -}}

{{- if .Get "description" -}}
  {{ $.Scratch.Set "description"  (.Get "description")  }}
{{- else if $.Page.Params.Podcast.Description -}}
  {{- $.Scratch.Set "description" $.Page.Params.Podcast.Description -}}
{{- else if $.Page.Description -}}
  {{- $.Scratch.Set "description" $.Page.Description -}}
{{- else -}}
  {{- $.Scratch.Set "description" "" -}}
{{- end -}}

{{- if .Get "cover" -}}
  {{ $.Scratch.Set "cover" (.Get "cover") }}
{{- else if $.Page.Params.Podcast.Cover -}}
  {{- $.Scratch.Set "cover" $.Page.Params.Podcast.Cover -}}
{{- else if $.Page.Params.Image -}}
  {{- $.Scratch.Set "cover" $.Page.Params.Image -}}
{{- else -}}
  {{- $.Scratch.Set "cover" "/images/logo.png" -}}
{{- end -}}

{{- if .Get "feed" -}}
  {{ $.Scratch.Set "feed" (.Get "feed") }}
{{- else if $.Page.Params.Podcast.Feed -}}
  {{- $.Scratch.Set "feed" $.Page.Params.Podcast.Feed -}}
{{- else -}}
  {{- $.Scratch.Set "feed" -}}
{{- end -}}

{{- if .Get "file" -}}
  {{ $.Scratch.Set "file" (.Get "file") }}
{{- else if (.Get 0) -}}
  {{ $.Scratch.Set "file" (.Get 0) }}
{{- else if $.Page.Params.Podcast.File -}}
  {{- $.Scratch.Set "file" $.Page.Params.Podcast.File -}}
{{- else if $.Page.Params.Podcast.Feed -}}
  {{- $.Scratch.Set "file" $.Page.Params.Podcast.Feed -}}
{{- else -}}
  {{- $.Scratch.Set "file" "" -}}
{{- end -}}
<script type="application/ld+json" id="podigee-settings">
  {
          "options": {
            "theme": "default"
          },
          "extensions": {
            "ChapterMarks": {
              "disabled": false
            },
            "EpisodeInfo": {},
            "Playlist": {
              "disabled": true
            },
            "Transcript": {
              "disabled": true
            }
          },
          "podcast": {
            "feed": "{{ $.Scratch.Get "feed" }}"
          },
          "episode": {
            "media": {
              "mp3": "{{ $.Scratch.Get "file" }}"
            },
            "coverUrl": "{{ $.Site.BaseURL }}{{ $.Scratch.Get "cover" }}",
            "title": "{{ $.Scratch.Get "title" }}",
            "subtitle": "{{ $.Scratch.Get "subtitle" }}",
            "description": "{{ $.Scratch.Get "description" }}"
        {{ with $.Page.Params.chaptermarks }}
            ,"chaptermarks": [
              {{ $length := (len .)}}
              {{ range $index, $element := . }}
                {{ $entry := split $element "|" }}
                {{ $start := index $entry 0 }}
                {{ $chapter := index $entry 1 }}
                { "start": "{{ $start }}", "title": "{{ $chapter }}"}
                {{ if ne (add $index 1) $length }},{{ end }}
              {{ end }}
            ]
        {{ end }}
          }
        }
</script>

<script src="/js/podigee-get-settings.js" integrity="sha384-SlCz3DnhCjxBou54KIXvtoi+28R28h+JtZCxbccso2Kvteia9HUZVi/KAgZv5eeu"></script>

<script class="podigee-podcast-player" src="//cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="podigee"></script>
