<picture>
  <!-- webp images -->
  <source type="image/webp" srcset="images/{{ .Get 0 }}-small.webp 320w,
          images/{{ .Get 0 }}-medium.webp 640w,
          images/{{ .Get 0 }}-large.webp 1000w"
          sizes="(max-width: 640px) 95vw, (max-width: 1024px) 40vw, 300px"
  alt="">
  <!-- jpeg images -->

    <source
     srcset="images/{{ .Get 0 }}-small 320w,
             images/{{ .Get 0 }}-medium 640w,
             images/{{ .Get 0 }}-large 1000w"
             sizes="(max-width: 640px) 95vw, (max-width: 1024px) 40vw, 300px"
     alt="">
     <img src="images/{{ .Get 0 }}.jpg">
</picture>
